.cardT{
    height: 130%;
    width: 50%;
    
}
.form-group{
    text-align: center;
}
.example-full-width{
    width: 50%;
}
.date{
    width: 50%;
}
.head{
    text-align: center;
    font-size: 25px;
}
.card1{
    padding-left: 30%;
    height: 80%;
    
}
.c1{
    padding-top: 10%;
    height:70%;
}