<div class='second'>
    <h1>Reset Password</h1>
    
    <div class="input-group mb-3">
    
        
        <input type="text" name='username' ngModel required #username='ngModel' class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"><br>
        <span class="input-group-text" id="basic-addon1">@</span></div>
    
  
  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Account password" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">aA1#</span>
  </div>
  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Confirm Account password" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">aA1#</span>
  </div>
 
<button type="submit" class="btn btn-primary">resetpassword</button>
</div>