<label for="file" style="margin-left: 3% ;color: rgb(30, 42, 97);font-size: 30px;margin-top: 2%;text-align: center;">OVERALL PROGRESS:</label><br><br>

<progress id="file" value="33" max="100" style="width: 50%;height: 5%;margin-left: 25%;background-color: crimson;"> 62% </progress>
<H4 style="text-align: center;">Completed Tasks is 33%</H4><br>
<progress id="file" value="40" max="100" style="width: 50%;height: 5%;margin-left: 25%;background-color: crimson;"> 62% </progress>
<H4 style="text-align: center;">In Progress is 40%</H4><br>
<progress id="file" value="16" max="100" style="width: 50%;height: 5%;margin-left: 25%;background-color: crimson;"> 62% </progress>
<H4 style="text-align: center;">Pending Tasks is 16%</H4><br>


<select class="form-select" aria-label="Default select example" style="margin-right: 30%;">
  <option selected>Select Manager</option>
  <option value="1">Manager 1</option>
  <option value="2">Manager 2</option>
  <option value="3">Manager 3</option>
</select> <br><br>
<select class="form-select" aria-label="Default select example" style="margin-right: 20%;">
  <option selected>Select Employee</option>
  <option value="1">Employee 1</option>
  <option value="2">Employee 2</option>
  <option value="3">Employee 3</option>
</select> 