<div class="card1">
<mat-card class="cardT">
    <mat-card-header class="head" fxLayout
    fxLayoutAlign="center" >New Task</mat-card-header><br>
    <form class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Project name</mat-label>
            <input matInput>
          </mat-form-field><br><br>
          <mat-form-field class="example-full-width">
            <mat-label>Task name</mat-label>
            <input matInput>
          </mat-form-field><br><br>
          
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
          </mat-form-field><br><br>
</form>
    <div class="example-button-row" style="float: right;">
        <button mat-button> Submit</button>
        </div>
</mat-card>    
</div>
