.cardT{
    height: 80%;
    width: 50%;
}
.form-group{
    text-align: center;
}
.form.group1{
    display:inline;
}
.example-full-width{
    width: 50%;
}
.date{
    width: 50%;
}
.head{
    text-align: center;
    font-size: 25px;
}
.card1{
     padding-top: 35px;
    padding-left: 30%;
    height: 650px;
    width:100%;
}

.c1{
    height:40%;
    width: 60%;
     padding-right:100px;
    text-align: center;
}
// .form-group1{
//     display: flex;
   
// }
p1{
    text-align: right;
}
.form{
    text-align: center;
}
.col-md-4{
    width:350px;
    display: inline;
}


