<mat-toolbar class="toolbar-mode">
    
    <img style="width:200px" src="https://www.smartclaims.asia/assets/images/logo.png" alt="cybervault">
    <span class="example-spacer"></span>
    <div class="search-group">
        <input type="text" class="search-input" placeholder="Search project · · ·">
        <button class="search-btn">
            <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="make-button">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
    </div>
    
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav style="width:250px;background-color: rgb(7, 7, 61);" mode="side" opened>
          <mat-nav-list>
              <a mat-list-item  routerLink='managerdashboard' style="color:rgb(231, 137, 15)">Dashboard</a>
              <a mat-list-item routerLink='profile' style="color:rgb(231, 137, 15)">Profile</a>
              <a mat-list-item routerLink="newproject" style="color:rgb(231, 137, 15)">Project</a>
              <a mat-list-item routerLink="newtask" style="color:rgb(231, 137, 15)">Task</a>
              <a mat-list-item routerLink="viewproject" style="color:rgb(231, 137, 15)">View Project</a>
              <a mat-list-item routerLink="managerreport" style="color:rgb(231, 137, 15)">Report</a>

            </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <p style="height:557px">
            <router-outlet></router-outlet>
        </p>
      </mat-sidenav-content>
  </mat-sidenav-container>
