table{
    width: 100%;
    /* padding-left: 20%; */
    height: 50%;
    padding-top: 20%;
}
.table{
   
    padding-top: 5%;
}
b{
    
    font-size: 30px;
    padding-top: 50px;
}
.div2{
    padding-top:5%;
    padding-left:4%;
}