<<<<<<< HEAD
.div3{
    padding-top: 10px;
}
=======
.example-card {
    max-width: 400px;
    background-image: url('/src/assets/manager.jpg');
  }
  
  .example-header-image {
    // background-image: url('/src/assets/manager.jpg');
    background-size: cover;
  }
  .example-card1{
    //   padding-left: 20%;
      width:150%;
   
  }
  
>>>>>>> d954fc91f16aba5ec5ddefd6b9bf25a2f0193152
