<div class=div3><div fxLayoutAlign="center center">
    <mat-card fxFlex="50">
      <h1 style="color: rgb(40, 40, 109);">PROFILE</h1>
    <form fxLayoutAlign="stretch" fxLayout="column"><br>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Placeholder" value="">
        <mat-hint>Your Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Placeholder" value="">
        <mat-hint>Your last Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>DOB</mat-label>
        <input matInput placeholder="Placeholder" type="date">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Placeholder" value="">
      
        <mat-hint>phone number</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder" type="email" value="">
      
        <mat-hint>Your email</mat-hint>
      </mat-form-field>

    </p>
    <button mat-raised-button color="primary">Save</button>
  </form>
  </mat-card>
</div>
</div>
